/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0f172a;
  color: #f1f5f9;
}

main {
  flex: 1;
}

/* HEADER */
.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #020617;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo span { color: #38bdf8; }

.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: #e2e8f0;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.3s;
}
.menu a:hover {
  background: #38bdf8;
  color: black;
}


/* LOGO */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;   
  height: 40px;
  object-fit: contain;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
  color: #38bdf8;
}

/* BOTONES */
.boton-principal,
.boton-secundario {
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.boton-principal {
  background: #38bdf8;
  color: black;
}
.boton-principal:hover {
  background: #0ea5e9;
}

.boton-secundario {
  background: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
}
.boton-secundario:hover {
  background: #38bdf8;
  color: black;
}

/* CARRUSEL */


.titulo{
    margin-bottom: 25px;
}

.parrafo{
width: 750px;
margin-bottom: 25px;
}

.carrusel {
  display: flex;
  overflow: hidden;
}

.diapositiva {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  min-width: 100%;
  animation: slide 12s linear infinite;
  background-color: #020617;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-200%); }
}

.diapositiva img {
  width: 300px;
  border-radius: 12px;
}

.diapositiva h1 { color: #38bdf8; }

/* SECCIÓN SNEAKERS */
.parrafo-sneaker{
    margin-bottom: 25px;
}

.contenido-sneakers {
  display: flex;
  align-items: center;
  padding: 60px;
  gap: 40px;
}

.texto-sneakers h2 { color: #38bdf8; }

.imagen-sneakers{
    overflow: hidden;
    width: 400px;
    height: 300px;
}
.imagen-sneakers img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
  
}
.imagen-sneakers img:hover {
  transform: scale(1.50);
  
}

/* TIENDA */
.seccion-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
  padding: 50px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    
  background: #1e293b;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  height: 500px;
  max-width: 500px;
  min-width: 200px;
}
.tarjeta:hover {
  transform: translateY(-5px);
}

.tarjeta img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.4s ease;
}


.tarjeta:hover img {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.contenido-tarjeta {
  padding: 15px;
}
.contenido-tarjeta h2 {
  color: #38bdf8;
}

/* NOSOTROS */
.seccion-nosotros {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 60px;
}

.seccion-nosotros img {
  width: 300px;
  border-radius: 12px;
}

.texto-nosotros h1 { color: #38bdf8; }

/* CONTACTO */
.seccion-contacto {
  padding: 50px;
}

.contenedor-contacto {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.iconos-redes {
    display: flex;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

textarea { resize: none; }

.info-contacto {
  flex: 1;
}

.seccion-redes img {
  width: 30px;
  margin-right: 10px;
  transition: 0.3s;
  
}
.seccion-redes img:hover {
  transform: scale(1.2);
}

input:invalid,
textarea:invalid {
  border: 2px solid red;
}

input:valid,
textarea:valid {
  border: 2px solid #38bdf8;
}

/* FOOTER */
.pie {
  background: #020617;
  padding: 40px 0;
}

.contenedor-pie {
  max-width: 1200px;   
  margin: auto;        
  padding: 0 40px;     
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pie h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.pie a {
  color: #cbd5f5;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}
.pie a:hover {
  color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .encabezado {
    flex-direction: column;
    gap: 10px;
  }

  .contenido-sneakers,
  .seccion-nosotros {
    flex-direction: column;
    text-align: center;
  }

  .diapositiva {
    flex-direction: column;
    text-align: center;
  }
}